* {
  /* Calculation */
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}
body {
    font-family: "Helvetica";
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
    background-color:black;
    padding: 25px;
    width:70%;
    font-size: large;
    font-display: swap;
    }
    article {
    font-family: "Helvetica";
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
    background-color:black;
    padding: 10px;
    width:72%;
    font-display: swap;
    }
  .portada{
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1000px;
    border-radius: 10px;
  }
  
  .container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: black;
    color: white;
  }
  
  nav a:link, a:visited, a:active {
    text-decoration:none;
    color: white ;
    }
    nav a:hover
      {
    color: #ff1616;
    text-decoration: none;
    }
    .menu{
      font-family:'Courier New', Courier, monospace;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr ;
      color: white;
      font-size: x-large;
      list-style-type: none;
      font-display: swap;
          }
      .menuNavegacion
     {
      color: #ff1616;
      text-align: center
                }
     .Otros{
      font-family:'Courier New', Courier, monospace;
      padding-top: 100px;
      margin: auto;
      color: white;
      font-size: x-large;
      font-display: swap;
      list-style-type: none;
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
       gap: 16px;
       }
       @media screen and (min-width: 650px) {
       .menu{
        font-family:'Courier New', Courier, monospace;
        padding-top: 100px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        font-size: x-large;
        font-display: swap;
        list-style-type: none;
      }
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 1500px;
      width: 60%;
      height: auto;
    }
    a{
      color: #fff;
   }
   p {
    --max-size: 22;
    --min-size: 24;
    font-size: var(--responsive);
 }
 header img{
  width: 150px;
}
header h1 {
  text-align: center;
  margin: auto;
    }
    .pie {
      width: 80%;
      color: white;
      --max-size: 20;
    --min-size: 10;
    font-size: var(--responsive);
      list-style-type: none;
      margin-top: 200px;
      padding: 20px;
      margin-left: auto; 
      margin-right: auto;
      justify-content: space-between;
      display:flex;
      font-family:'Courier New', Courier, monospace;
      font-display: swap;
    }
    @media screen and (max-width: 700px) {
      .pie {
        display:list-item;
      }
    }
    footer img {
      width: 80px;
      padding-bottom: 35px;
    }

    @keyframes cohete2 {
      0% {
        transform: rotate(0deg);
             }
      20% {
        transform: rotate(-5deg);
              }
      40% {
        transform: rotate(5deg);
      }
      60% {
        transform: rotate(0deg);
             }
      80% {
        transform: rotate(-5deg);
              }
      100% {
        transform: rotate(0deg);
      }
    }
    
    #cohete2{
      animation: cohete2 2s linear infinite;
      width: auto;
      animation-delay: 1500ms;
    }